@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,700;0,800;1,400&display=swap");

:root {
  --green: rgb(84, 161, 40);
  --blue: rgb(89, 105, 240);
  --orange: rgb(245, 105, 49);
  --dark-orange: rgb(168, 78, 42);
  --bg-light: rgb(255, 255, 255);
  --bg-dark: rgb(23, 28, 34);
  --text-light: rgb(49, 63, 78);
  --text-dark: rgb(223, 230, 238);
  --light-text-light: rgb(116, 116, 122);
  --light-text-dark: rgb(177, 176, 192);
  --base-shadow-light: 0px 0.4px 0.9px rgba(0, 0, 0, 0.052),
    0px 1px 2.5px rgba(0, 0, 0, 0.075), 0px 2.4px 6px rgba(0, 0, 0, 0.098),
    0px 8px 20px rgba(0, 0, 0, 0.15);
  --base-shadow-dark: 0px 0.4px 0.9px rgba(255, 255, 255, 0.052),
    0px 1px 2.5px rgba(255, 255, 255, 0.075),
    0px 2.4px 6px rgba(255, 255, 255, 0.098),
    0px 8px 20px rgba(255, 255, 255, 0.15);
}

html,
body {
  font-family: "Karla", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  background-color: var(--bg-light);
  color: var(--text-light);
  min-height: 100vh;
}

body.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

.button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.4rem 0.85rem;
  font-size: 1.25rem;
  cursor: pointer;
  font-weight: 400;
}

.navbar {
  display: grid;
  width: calc(100% - 4rem);
  grid-template-columns: repeat(3, 1fr);
  font-size: 1.25rem;
  padding: 0.75rem 2rem;
  border-bottom: 1px solid var(--text-dark);
  align-items: center;
}

body.dark .navbar {
  border-bottom: 1px solid var(--text-light);
}

.logo {
  color: black;
  text-decoration: none;
  font-weight: 800;
}

body.dark .logo {
  color: white;
}

.location {
  display: grid;
  justify-content: center;
  color: var(--light-text-light);
}

body.dark .location {
  color: var(--light-text-dark);
}

.right {
  display: grid;
  justify-content: right;
  text-decoration: none;
  color: var(--text-light);
}

body.dark .right {
  color: var(--text-dark);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.options {
  color: inherit;
  transition: 200ms background-color;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
}

.options i {
  padding: 0.5rem;
}

.options:hover {
  background-color: var(--text-dark);
}

body.dark .options:hover {
  background-color: var(--text-light);
}

.login {
  text-decoration: inherit;
  vertical-align: middle;
  background-color: var(--blue);
}

.profile {
  transition: 200ms background-color;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.profile:hover {
  background-color: var(--text-dark);
}

body.dark .profile:hover {
  background-color: var(--text-light);
}

.level {
  background-color: var(--text-light);
  color: var(--text-dark);
  border-radius: 0.25rem;
  margin-right: 0.35rem;
  padding: 0 0.25rem;
}

body.dark .level {
  background-color: var(--text-dark);
  color: var(--text-light);
}

.label {
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.15rem;
  display: block;
}

.bigLabel {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.15rem;
  display: block;
}

/* ARISTOCRAT */

.aristocrat-content {
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin: 2rem 3rem;
}

.puzzle {
  font-size: 1.65rem;
}

.word {
  display: inline-block;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

.char {
  padding: 0.15em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.translatedChar {
  cursor: pointer;
  margin-bottom: 0.15em;
  border: 1.75px var(--light-text-light) solid;
  border-radius: 0.25rem;
  height: 1.5em;
  width: 1.25em;
  padding-top: 0.25em;
  text-align: center;
  white-space: pre;
}

body.dark .translatedChar {
  border: 1px var(--light-text-dark) solid;
}

.puzzle.solved .translatedChar {
  border: 1px var(--bg-light) solid;
  cursor: default;
}

body.dark .puzzle.solved .translatedChar {
  border: 1px var(--bg-dark) solid;
}

.untranslatedChar {
  font-size: 0.75em;
  color: var(--light-text-light);
  margin-bottom: 0.25em;
}

.frequency {
  font-size: 0.55em;
  color: var(--light-text-light);
}

.unimportant {
  color: var(--light-text-light);
}

.attribution {
  float: right;
  margin-right: 2rem;
  font-style: italic;
  color: var(--light-text-light);
}

body.dark .untranslatedChar,
body.dark .frequency,
body.dark .unimportant,
body.dark .attribution {
  color: var(--light-text-dark);
}

.softSelected {
  background-color: rgb(255, 255, 200);
}

body.dark .softSelected {
  background-color: rgb(72, 72, 42);
}

.puzzle.solved .softSelected {
  background-color: transparent;
}

.selected {
  background-color: rgb(255, 255, 0) !important;
  cursor: default !important;
}

body.dark .selected {
  background-color: rgb(96, 72, 10) !important;
}

.puzzle.solved .selected {
  background-color: transparent;
}


.collision {
  color: var(--dark-orange);
  border: 1px solid var(--dark-orange) !important;
  outline: 1px solid var(--dark-orange);
}

body.dark .collision {
  color: var(--orange);
  border: 1px solid var(--orange) !important;
  outline: 1px solid var(--orange);
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0.5rem);
  }
  50% {
    transform: translateX(-0.5rem);
  }
  75% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}

.remainingLetters {
  margin-bottom: 0.5rem;
}

.remainingLetter {
  padding: 0.25rem;
  display: inline-block;
}

.submitButton {
  width: 100%;
  background-color: var(--green);
}

.shake {
  animation: 200ms horizontal-shaking;
}

/* ARISTOCRAT END */

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  justify-content: center;
  align-items: center;
  animation: 600ms fadeIn ease-out forwards;
  animation-delay: 600ms;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-light);
  text-align: center;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  width: 30rem;
  min-height: 35rem;
  box-shadow: var(--base-shadow-light);
  animation: 600ms fadeIn ease-out forwards;
  animation-delay: 600ms;
  opacity: 0;
}

body.dark .modalContent {
  background-color: var(--bg-dark);
  box-shadow: var(--base-shadow-dark);
}

.modalContent h1 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.messageContainer {
  margin-bottom: 0.75rem;
}

.modalContent .message {
  margin-top: 0.75rem;
  font-size: 1.5rem;
}

.modalContent .expSource {
  display: flex;
  justify-content: space-between;
  font-size: 1.35rem;
}

.modalContent .expSourceAmount {
  font-weight: 700;
}

.modalContent .levelInfo {
  display: flex;
  margin-top: auto;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.modalContent .levelContainer {
  width: 100%;
}

.modalContent .levelBar {
  width: 100%;
  height: calc(100% - 0.75rem - 0.25rem);
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--light-text-dark);
}

body.dark .modalContent .levelBar {
  background-color: var(--light-text-light);
}

.modalContent .barFg {
  background-color: var(--text-light);
  height: 100%;
}

body.dark .modalContent .barFg {
  background-color: var(--text-dark);
}

.modalContent .levelProgress {
  color: var(--light-text-light);
  margin-top: 0.25rem;
  font-size: 0.75rem;
  text-align: left;
}

.modalContent .levelProgress {
  color: var(--light-text-dark);
}

.modalContent .button {
  background-color: var(--green);
}

/* SETTINGS */

.page {
  display: flex;
  justify-content: center;
}

.text-content {
  width: 50rem;
  margin: 2rem 3rem;
}

.text-content a {
  color: var(--bg-dark);
}

body.dark .text-content a {
  color: var(--bg-white);
}

.settingsLabel {
  display: inline;
  margin-right: 0.15rem;
}

/* AUTH */

.login-content .input {
  width: 15rem;
  font-size: 1.15rem;
}

.input {
  background-color: var(--text-dark);
  color: var(--text-light);
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-size: 1rem;
}

body.dark .input {
  background-color: var(--text-light);
  color: var(--text-dark);
}

.errorText {
  color: var(--dark-orange);
}

.link {
  color: var(--blue);
}

body.dark .errorText {
  color: var(--orange);
}

.register-content .input {
  width: 20rem;
  font-size: 1.15rem;
}

.registerInfoText {
  max-width: 20rem;
}